.header {
  border-bottom: 1px solid #ececec;
}
.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-item {
  margin-right: 50px;
  padding-top: 33px;
  padding-bottom: 31px;
  position: relative;
}
.header-item:last-child {
  margin-right: 0;
}
.logo-lft {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
}
.logo-right {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}

.logo-right-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}
.header-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-connect {
  margin-left: auto;
  padding-top: 33px;
  padding-bottom: 31px;
}
.header-contact {
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:last-child {
  margin-right: 0;
}

.header-mail:focus,
.header-mail:hover {
  color: var(--accent-color);
}
.header-tell:focus,
.header-tell:hover {
  color: var(--accent-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-social-icon {
  margin-right: 10px;
  fill: currentColor;
}
